{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link href="{{ ('assets/welcome.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
<div id="menu" >
<ul>
<li class="personal_data">Ernest Mazur</li>
</ul>
</div>
{% endblock %}