{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('style.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
<div id="menu" >
<ul class="personal_data">
<li>Ernest Mazur</li>
</ul>
</div>
{% endblock %}